{% extends "base.html" %}

{% block content %}

<div class="hero">
    <div class="hero-text">
        <h1>Discover Your Next Favorite Book</h1>
        <p>Explore thousands of books across all categories 📚</p>
        <a href="/books"><button>Browse Books</button></a>
    </div>
</div>

<h2 class="section-title">🔥 Featured Books</h2>

<div class="book-grid">
    {% for book in books %}
    
    <a href="/book/{{ book.id }}" class="card-link">
        <div class="card">
            <img src="{{ book.image_url }}" alt="book">
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
            <p class="price">₹{{ book.price }}</p>
        </div>
    </a>

    {% endfor %}
</div>

<a href="/book/{{ book.id }}" class="card-link">
    <div class="card">
        <img src="{{ book.image_url }}" alt="book">
        <h3>{{ book.title }}</h3>
        <p>{{ book.author }}</p>
        <p class="price">₹{{ book.price }}</p>
    </div>
</a>

{% endblock %}